/* (dark) colors to use, if needed 0d5c63 + 247b7b */

* {
  box-sizing: border-box;
  border: 1px solid black; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #78cdd7;
  color: #fffffa;
}

header {
  /* background-color: blue; */
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44a1a0;
}

.header_pics {
    display: none;
}
@media only screen and (min-width : 768px) {
    .header_pics {
        display: block;
        height: 100%;
        border-radius: 50%;
        padding: 1em;
      }
}

h1 {
  font-size: 2em;
  padding: 1em;
}

main {
  /* background-color: green; */
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

article {
  /* background-color: orange; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

@media only screen and (min-width : 768px) {
article {
    width: 75%;
}
}

.containing_section {
  align-self: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */

}

@media only screen and (min-width : 768px) {
  .containing_section {
      width: 75%;
  }
  }

.top_section {
  display: block;
  width: 100%;
  height: 20%;
  border: 1px solid black; */

}

.middle_section {
  display: block;
  width: 100%;
  height: 18%;
  align-items: space-evenly;
  border: 1px solid black; */

}

.bottom_section {
  display: block;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
    border: 1px solid black; */
}



.containing_section section {
  margin-top: 1%;
  margin-bottom: 1%;
}

h2 {
  font-size: 1.2em;
  padding: 0.5em;
}

@media only screen and (min-width : 768px) {
  h2 {
    font-size: 1.5em;
    padding: 0.5em;
  }
  }


p {
  padding: 0.5em;
}

form {
    display: flex;
    justify-content: center;
}

form > * {
    padding: 0.5em;
}

.middle_section {
  display: flex;
  justify-content: center;
  /*border: 1px solid black; */
}

fieldset {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width : 768px) {
  fieldset {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  }
  
.middle_section div {
  width: 100%;
  height: 3em;
  border: 1px solid black; */
}

button {
  width: 100%;
  height: 100%;
}

#table_legend {
  display: none;
}

@media only screen and (min-width : 768px) {
  #table_legend {
      display: inline;
  }
  }

th {
  font-weight: bold;
}
tr,
th,
td {
  border: 1px solid black;
  padding: 0.5em;
}
footer {
  /* background-color: purple; */
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #44a1a0;
}

  footer span {
display: none;
  }

@media only screen and (min-width : 768px) {
footer {
  height: 10%;
}
  footer > * {
    width: 100%;
  }
  footer span {
display: inline;
  }
  }

